<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>All Figures</title>
</head>
<body>
  <h1>All Figures:</h1>
  <%@all_figures.each do |figure_hash|%>
    <ul>
      <li>Name: <%=figure_hash.name%></li>
      
      <li>Titles:</li>
      <ul>
        <%figure_title_array = FigureTitle.find(figure_hash.id)%>
        <%figure_title_array.each do |title|%>
          <li><%=title%></li>
        <%end%>
      </ul>
      
      <li>Landmarks:</li>
      <ul>
        <%landmarks_array = Landmark.find(figure_hash.id)%>
        <%landmarks_array.each do |landmark_name|%>
          <li><%=landmark_name%></li>
        <%end%>
      </ul>
      
    </ul>
  <%end%>
</body>
</html>