<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>All Figures</title>
</head>
<body>
  <h1>All Figures:</h1>
  <%@all_figures.each do |figure_hash|%>
    <ul>
      <li>Name: <a href="/figures/<%=figure_hash.id%>"><%=figure_hash.name%></a></li>
      
      <li>Titles:</li>
      <ul>
        <%figure_hash.titles.each do |title|%>
          <li><%=title.name%></li>
        <%end%>
      </ul>
      
      <li>Landmarks:</li>
      <ul>
        <%figure_hash.landmarks.each do |landmark|%>
          <li><%=landmark.name%></li>
        <%end%>
      </ul>
    </ul>
  <%end%>
</body>
</html>